nav {
  background: whitesmoke;

  display: flex;
  align-items: center;
  justify-content: space-around;
  _overflow: hidden;
  height: 3rem;
  width: 100%;
  background-color: antiquewhite;
  padding: 2rem;
  margin-top: 6rem;

  position: fixed;
  bottom: 0;
  left: 0;
}
