nav {
  background: whitesmoke;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: antiquewhite;
  padding: 2rem;

  position: fixed;
  bottom: 0;
}

ul {
  display: flex;
  /* justify-content: center;
  align-content: center; */
  column-gap: 20px;
}

li {
}
