.nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  gap: 15px;
  bottom: 0;
  left: 0;
  height: 3rem;
  width: 100%;
  background-color: antiquewhite;
}

.nav--links {
  padding: 0.5rem 0;
  height: 3rem;
}

.nav__svg {
  height: 2rem;
  position: static;
}

.nav--links path {
  fill: #36343a;
}
