* {
  _outline: 2px solid red;
}

.section__profile {
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* move to other css file */
.img--profile {
  width: 200px;
}

figcaption {
  padding: 2rem 0;
  font-weight: bold;
}
