h1 {
  font-family: Arial, Helvetica, sans-serif;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  background-color: antiquewhite;
  padding: 2rem;

  position: fixed;
  top: 0;
  left: 0;
}
