* {
  _outline: 2px solid red;
}

.card {
  background: rgb(227 202 215);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin: 1rem;
  box-shadow: 0px 2px 11px rgba(25 50 81 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}
h2 {
  margin-bottom: 0;
  font-family: var(--font-family);
  font-weight: 600;
}

p {
  font-family: var(--font-family);
  font-size: 0.8rem;
  font-weight: 400;
}

/* answers to questions */
p.secret {
  display: none;
}

/* 
.card__answer--hidden {
  color: rgb(227, 202, 215);
}

.card__answer--show {
  color: #6667ab;
} */

svg {
  color: #fcf6ef;
  position: absolute;
  right: 1rem;
  top: -1rem;
}

.bookmark--active {
  color: #4c2b50;
}

.container__tags {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 1rem;
}

.tag {
  background-color: rgb(158 104 157);
  border-radius: 3px;
  padding: 0.3rem;
  font-size: 0.8rem;
}
